.box{
    height: 200px;
    background-color: #ffc0cb;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-container-nested{
    background-color: #ffc0cb;
    border: 1px solid black;
    
}

.box-nested{
    height: 200px;
    background-color: #f07f80;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;



}